@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");


body {
  font-family: "Fredoka One", cursive;
  background-color: #F4F5F7;
}
.form-control{
  background-color: rgba(255,255,255,0.13);
  backdrop-filter: blur(0px);
  border: 2px solid rgba(255,255,255,0.1);
}


/*tarjetas*/
.card {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.card-title {
    font-size: 12px;
    text-align: left;
  }
  
  .card-img-top {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0px auto;
    margin-top: 20px;
  }


  


/*icononos y lista*/
.circle-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
}



.color_usuario {
  background: #3789b9;
}

.color_amigos {
  background: #a827e4;
}


.list-group-item {
  border: none;
}



