@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  font-family: "fedoka",cursive;
  background-color: #F4F5F7; 
  background-image: url(../img/fondologin.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
/*narvar*/
.list-group-item{
  border: none;
  background-color: rgba(255,255,255,0.13);
  backdrop-filter: blur(0px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}


.green {
  color: #10D875;
}

.gray {
  color:white;
  font-weight: lighter;
  text-decoration: none;
}
/*tarjetas*/
.card {
  
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: rgba(255,255,255,0.13);
  
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.card-title {
    font-size: 12px;
    text-align: left;
  }
  
  .card-img-top {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0px auto;
    margin-top: 20px; 
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
  }
  .portada{
    height: 250px;
    width: 100%;
  }
  .picazzo{
    height: 100%;
  }

  
/*(hitorias y perfil)*/  

.contenedor_historia {
  height: 400px;
  display: flex;
  /*flex-flow:<flex-direction><flex-wrap>;*/
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  gap: 10px;
}
.perfil {
    height: auto;
    width: 97%;
    display: flex;
    /*flex-flow:<flex-direction><flex-wrap>;*/
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .sub{
      height: auto;
  }

.historia {
  width: 150px;
  height: 90%;
}




/*icononos y lista*/
.circle-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
}



.color_usuario {
  background: #3789b9;
}

.color_amigos {
  background: #a827e4;
}



.white-back {
  background:white;
  color: #ACB5BE;
}

.list-group-item {
  border: none;
}

.logoTecler{

  border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 4px solid rgba(248, 210, 246, 0.1);
	box-shadow: 0 0 4px rgba(8,7,16,0.6); 

}



/*css ale*/


.card{
    margin-top: 10px;
    margin-right: 10px;
}
.quote-text{
    text-align: left;
}
