
nav {
    background-color: white;
  }
  
  .fotologo {
    right: 70%;
    width: 8%;
    border-radius: 100%;
  }
  
  .navbar-blue {
    color: #0055FF;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    font-family: "Fredoka One", cursive;
  }
  
  .contenedor_iconos {
    position: relative;
    left: 75%;
    justify-content: space-around;
  }